.partnerContainer {
  visibility: hidden;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partnerRowContainer {
  width: var(--containerWidth);
  display: flex;
}

.partnerRowItemContainer {
  width: 25%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.partnerIcon {
  width: 158px;
  height: 86px;
  object-fit: contain;
}

.partnerSmallRowContainer {
  display: none;
  width: var(--containerWidth);
}

.partnerSmallRowItemContainer {
  width: 50%;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.partnerSmallIcon {
  width: 149px;
  height: 48px;
  object-fit: contain;
}

@media screen and (max-width: 992px) {
  .partnerContainer {
    margin-top: 30px;
  }

  .partnerRowContainer {
    display: none;
  }

  .partnerSmallRowContainer {
    display: flex;
  }
}
